.o_sn_wsd_production_menu {
    max-width: map-get($grid-breakpoints, sm);
    overflow: auto;

    .o_sn_wsd_production_menu_actions {
        padding-bottom: 4rem;
    }

    .o_sn_wsd_production_type {
        min-height: 76px;
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    .o_sn_wsd_production_menu {
        .o_sn_wsd_production_menu_actions {
            padding-bottom: 2.5rem;
        }
    }
}
